header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px;
}

div {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}

span {
    display: block;
    font-size: 14px;
    color: #888;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
